/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Shades of grey color */
  --light-grey-color: #bdc4ca;
  --grey-color: #8a9197;
  --dark-grey-color: #575b5f;

  /* Shades of primary color */
  --light-primary-color: #d6efdf;
  --primary-color: #76c893;
  --dark-primary-color: #6ab484;

  /* white color */
  --white-color: #ffffff;

  /* black color*/
  --black-color: #212529;

  /* box shadow */

  --light-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  /* transition */
  --transition: all 0.3s;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  color: var(--dark-grey-color);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 4.4rem;
}

button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.headings {
  margin: 8rem 0;
}

.tertiary-heading {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.secondary-heading {
  font-size: 3.6rem;
}

.color-primary {
  color: var(--primary-color);
}

.icon {
  color: var(--dark-primary-color);
  background-color: var(--light-primary-color);
  padding: 1.6rem;
  border-radius: 100%;
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
}

.text {
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--grey-color);
}

/* Header */

.header {
  max-width: 135rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.header-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 2.4rem;
  font-weight: 500;
}

.brand-logo {
  color: var(--primary-color);
  transform: rotate(-10deg);
}

.navbar {
  margin-top: 2.4rem;
}

.navbar-toggle-button {
  font-size: 2rem;
  transition: var(--transition);
}

.navbar-toggle-button:hover {
  color: var(--primary-color);
  transform: scale(1.2);
}

.navbar-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.navbar-links {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.navbar-link:link,
.navbar-link:visited {
  font-size: 1.4rem;
  color: var(--dark-grey-color);
  font-weight: 500;
  transition: var(--transition);
}

.navbar-link:hover,
.navbar-link:active {
  color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-toggle-button {
    display: none;
  }

  .navbar {
    margin-top: 0;
  }

  .navbar-container {
    height: auto !important;
  }

  .navbar-links {
    flex-direction: row;
    align-items: center;
  }

  .cta-button:link,
  .cta-button:visited {
    display: inline-block;
    padding: 0.8rem 1.6rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 3px;
    transition: var(--transition);
  }

  .cta-button:hover,
  .cta-button:active {
    display: inline-block;
    padding: 0.8rem 1.6rem;
    background-color: var(--dark-primary-color);
    color: var(--white-color);
    border-radius: 3px;
  }
}

/* Main */

.main {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2.4rem 1.6rem;
}

/* Hero section */

.hero-center {
  height: calc(100vh - 8rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.hero-heading {
  font-size: 6.4rem;
  font-weight: 500;
}

.highlighted-text {
  color: var(--primary-color);
}

.hero-description {
  font-size: 1.6rem;
}

.hero-link:link,
.hero-link:visited {
  margin-top: 2.4rem;
  font-size: 1.6rem;
  color: var(--dark-primary-color);
  font-weight: 500;
  transition: var(--transition);
}

.hero-link:hover,
.hero-link:active {
  color: var(--primary-color);
}

/* Features Section */

.features {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.feature {
  display: grid;
}

.feature-img {
  display: none;
}

.feature-heading {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 768px) {
  .feature {
    grid-template-columns: 45rem 35rem;
    align-items: center;
    justify-content: space-between;
  }

  .feature-img {
    display: block;
  }
}

/* Operations Section */

.operations {
  display: grid;
  gap: 2.4rem;
}

.operation-button {
  background-color: var(--primary-color);
  padding: 0.4rem 1.2rem;
  color: var(--white-color);
  border-radius: 5px;
  font-weight: 700;
  transition: var(--transition);
}

.operation-button:hover {
  background-color: var(--dark-primary-color);
}

.operation-heading {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 768px) {
  .operations {
    grid-template-columns: repeat(3, 1fr);
  }

  .operation {
    border-radius: 5px;
    padding: 2.4rem;
    transition: var(--transition);
  }

  .operation:hover {
    transform: translateY(-0.5rem);
    box-shadow: var(--light-box-shadow);
  }
}

/* Testimonial */

.testiomonial-header {
  display: flex;
  align-items: baseline;
}

.testimonial-heading {
  font-size: 2.4rem;
}

.testimonial-icon {
  margin-right: 0.4rem;
  font-size: 3.6rem;
  color: var(--primary-color);
}

.testimonials {
  position: relative;
  max-width: 95vw;
  min-height: 50vh;
  margin: 0 auto;
  overflow: hidden;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  transition: var(--transition);
}

.testimonial .text {
  margin: 2.4rem 0;
}

.testimonial-author {
  display: flex;
  align-items: center;
}

.testimonial-author img {
  width: 4.4rem;
  border-radius: 100%;
}

.testimonial-details {
  margin-left: 0.8rem;
}

.testimonial-author-name {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
}

.testimonial-author-place {
  font-size: 1.2rem;
  color: var(--grey-color);
  text-transform: capitalize;
}

.testimonial-buttons {
  display: flex;
  justify-content: center;
  gap: 4.8rem;
}

.testiomonial-button {
  font-size: 2.4rem;
  cursor: pointer;
  color: var(--primary-color);
  transition: var(--transition);
  background-color: var(--light-primary-color);
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
}

.testiomonial-button:hover {
  color: var(--dark-primary-color);
}

@media screen and (min-width: 992px) {
  .testimonials-container {
    position: relative;
  }

  .testimonials {
    max-width: 55vw;
    height: 35vh;
  }

  .testimonial-buttons {
    margin-top: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    justify-content: space-between;
  }
}

/* Signup-section */

.signup-center {
  padding: 12.8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;
}

.signup-center h2 {
  max-width: 75rem;
  text-align: center;
}

.signup-center button {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 1.6rem 3.2rem;
  font-size: 1.8rem;
  border-radius: 3px;
  font-weight: 700;
  transition: var(--transition);
  box-shadow: var(--light-box-shadow);
}

.signup-center button:hover {
  background-color: var(--dark-primary-color);
}

@media screen and (min-width: 768px) {
  .signup-center button {
    font-size: 2rem;
  }
}

/* Footer */

.footer-center {
  padding: 8rem 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
  border-top: 1.5px solid rgba(233, 233, 233, 0.4);
  background-color: var(--light-primary-color);
}

.footer-links {
  display: flex;
  gap: 1rem;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: var(--dark-grey-color);
  transition: var(--transition);
}

.footer-link:hover,
.footer-link:active {
  color: var(--primary-color);
}

.footer-logo {
  font-size: 2.4rem;
  color: var(--dark-primary-color);
  transform: rotate(-10deg);
}

.copyright {
  font-size: 1.2rem;
  color: var(--grey-color);
}

@media screen and (min-width: 768px) {
  .footer-links {
    gap: 2.4rem;
  }

  .footer-link:link,
  .footer-link:visited {
    font-size: 1.6rem;
  }
}

/* Top Button */

.top-button {
  position: fixed;
  bottom: 3%;
  right: 5%;
  background-color: var(--light-primary-color);
  height: 5rem;
  width: 5rem;
  border-radius: 100px;
  box-shadow: var(--light-box-shadow);
  display: none;
}

.top-button i {
  color: var(--dark-primary-color);
  font-size: 1.6rem;
}

.show-top-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal  */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--white-color);
  padding: 2.4rem;
  border-radius: 3px;
  box-shadow: var(--light0-box-shadow);
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  position: relative;
}

.modal-heading {
  font-size: 3rem;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  width: 35rem;
}

.form-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-group label {
  font-size: 1.4rem;
  font-weight: 500;
}

.form-group input {
  outline: none;
  border: 1px solid var(--black-color);
  border-radius: 3px;
  height: 2.4rem;
}

.modal-form-button {
  margin-top: 2.4rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.8rem 1.6rem;
  border-radius: 3px;
  transition: var(--transition);
  font-weight: 700;
}

.modal-form-button:hover {
  background-color: var(--dark-primary-color);
}

.modal-close-btn {
  position: absolute;
  top: 4%;
  right: 3%;
  color: var(--grey-color);
  font-size: 1.6rem;
  cursor: pointer;
}

.modal-close-btn:hover {
  color: var(--dark-grey-color);
}

@media screen and (min-width: 768px) {
  .modal-content {
    max-width: 65rem;
    gap: 4.8rem;
  }

  .modal-heading {
    font-size: 4.4rem;
  }

  .modal-form {
    width: 45rem;
  }

  .form-group label {
    font-size: 1.8rem;
  }

  .form-group input {
    height: 3rem;
  }

  .modal-form-button {
    font-size: 1.6rem;
  }
}
